div.messages.tripal-germplasm-warning {
  background-color: #E0E6EE;
  border-color: #7E8EA6;
  color: #576479;
  height: 32px;
}
tr.custom-control td {
  background-color: #E0E6EE;
  font-style: italic;
  color: #7E8EA6;
}
tr.custom-control.odd td {
  background-color: #E6EBEE;
}
.highlight-fieldset {
  box-shadow: 0 0 1px 2px #495364;
  /**transition: box-shadow 5s;*/
}
tr.error-highlight.even td, tr.error-highlight.odd td{
  background-color: #fef5f1;
  font-style: italic;
  color: #8c2e0b;
  border-top: 1px solid #ed541d;
  border-bottom: 1px solid #ed541d;
}
.highlight-text{
  color: #90C453;
}
.highlight-correct-field {
  box-shadow: 0 0 1px 3px #BBEE77;
}